body {
    display: flex;
    /* font-family: Arial, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

body .semiotsikko{
    font-size: medium;
}
body .tekstiteksti{
    font-size: small;
    padding-left: 10%;
}
.sidebar {
    width: 28%;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    /* background-color: #ebd9fa; */
    background-color: #14062d;
    overflow: auto;
    color: #b691ff;
    border-right: 2px solid #b691ff;
}
.sidebar .profile-pic {
    width: 100%;
    height: 28%;
    /* background-color: #cbbaea; */
    background-color: #340c5a;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
.sidebar .profile-pic img {
    width: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.sidebar .profile-info {
    width: 100%;
    /* padding: 10px; */
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.sidebar h2, .sidebar p {
    color: #b691ff;
}
.sidebar .profile-text {
    color: #eee5ff;
    font-size: smaller;
    font-family: monospace, Arial, Helvetica, sans-serif;
}
.main-content {
    width: 72%;
    margin-left: 28%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #270943;
}
.columns {
    display: flex;
    justify-content: space-between;
}
.column {
    width: 48%;
}
.section {
    border: 2px solid #b691ff;
    /* background-color: #fef9f6; */
    background-color: #14062d;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    
}
.section h3 {
/*     color: black;
    background-color: white; */
    font-family: monospace, Arial, Helvetica, sans-serif;
    color: #ccb3ff;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    margin: -10px -10px 10px -10px;
    border-radius: 10px 10px 0 0;
}
.section p {
    margin: 10px 0;
    color: #eee5ff;
    font-family: monospace, Arial, Helvetica, sans-serif;
}
.timeline {
    margin-top: 10px;
}
.timeline-item {
    margin-bottom: 10px;
}
.timeline-dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.timeline-content {
    display: inline-block;
}
.skill {
    margin-bottom: 10px;
    text-align:center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.text-align {
    position: relative;
    width: 100%;
    text-align: center;
}
.skill-left{
    margin-bottom: 3%;
    float: left;
}
.skill-center{
    margin-bottom: 3%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.skill-right{
    margin-bottom: 3%;
    float: right;
}
.skill-bar {
    width: 100%;
    background-color: #ece2ff;
    border-radius: 5px;
    overflow: hidden;
}
.skill-level {
    height: 15px;
    background-color: #5fc563;
    text-align: right;
    padding-right: 5px;
    line-height: 15px;
    color: white;
    border-radius: 5px 0 0 5px;
}
@media screen and (max-width: 800px) {
    body {
        flex-direction: column;
        
    }
    .sidebar {
        width: 100%;
        position: relative;
        margin-bottom: 0px;
    }
    .sidebar .profile-pic img {
        width: 35%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        /* border-radius: 0%; */
    }
    .main-content {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
    .columns {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
}